.blue {	color: blue; }
.red { color: red; }
.green { color: green; }
.magenta { color: magenta; }
.gray { color: gray; }

a {
	font-weight: 400;
}

@media (min-height: 700px) {
	.donateButton {
		text-align: center;
	}
}

.donateButton {
	width:100%;
	margin-bottom: 10px;
}
	
#footer {
	padding: 10px 15px 0 15px;
}

#search-by {
	color: #fff !important;
}

#search-by::-moz-placeholder {
	color: #eee !important;
	opacity: 1 !important;
}	

#search-by::-webkit-input-placeholder {
	color: #eee !important;
	opacity: 1 !important;
}	

nav#TableOfContents {
	max-height: initial;
}

.toc {
	border: 1px solid #999;
	background-color: #FCFCFC;
	color: black;
	display: inline-block;
	position: relative;
	overflow: hidden;	
}

.toc > div {
	position: relative;
	left: -10px;
}

nav > ul > li:only-child,
nav > ul > li:only-child > ul > li:only-child,
nav > ul > li:only-child > ul > li:only-child > ul > li:only-child {
	display: inline;
}

ul > li > ul:only-child { 
	position: relative;
	left: -40px;
	background-color: #FCFCFC;	
}

.progress ul > li > ul:only-child {
	left: 0px;	
}


.toc > div[data-level="3"] {
	position: relative;
	left: -80px;
}

h2 {
	clear: both;
	font-size: 2rem;
	border-bottom: 1px solid #DDD;
}
h3{
	font-size: 1.5rem;
	border-bottom: 1px solid #DDD;
}
h4{
	font-size: 1.20rem;
	border-bottom: 1px solid #DDD;
}
ul {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
}
p {
	margin-bottom: 0.5rem;
}
pre {
	background-color: #F6F6F6;
	border: 1px solid #DDD;
	padding: 2px;
	margin-top: 0 !important;
}
code + span.copy-to-clipboard { 
	display: none;
}
pre code {
	color: #666;
}
.hljs {
	background-color: #F6F6F6;
	color: #666;
}
.hljs-subst, .hljs-variable, .hljs-template-tag, .hljs-template-variable{
	color: #6a9e97
}
.hljs-attribute, .hljs-code, .hljs-selector-id {
	color: #92649b
}
.hljs-comment {
	color: #369635;
}
.hljs-title, .hljs-name {
	color: #92649b;
}

pre .copy-to-clipboard {
	background-color: #E9E9E9;
}
pre .copy-to-clipboard:hover {
	background-color: #FFF;
}

.clear {
	clear: both;
}

.imgBox {
	clear:both;
	float:right;
	padding-left: 10px;
	background: white;
	z-index: 1;	
	position: relative;
}

.imgBox > div {
	padding:5px;
	border:1px solid #aaa;
	background-color:#F9F9F9;
}

.imgBox > div img {
	margin:0 !important;	
	border:1px solid #DDD;
}

.imgBox.inline {
	float:none;
	text-align: center;
}

.imgBox.inline > div {
	display: inline-block;
}


@media (max-width: 1700px) {
	.imgBox {
		float:none;
		text-align: center;
	}
	
	.imgBox > div {
		display: inline-block;
	}
}

section#shortcuts > h3 {
	font-weight: bold !important;
	color: #DDD !important;
}

.imgBox.right {
	float:right;
}
.imgBox.right > div {
	display:block;
}

@media (max-width: 1000px) {
	#body #breadcrumbs {
		width: 100%;
	}
	h1 {
		font-size: 2rem;
	}
	h2 { 
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size: 1.1rem;
	}	
	
	.imgBox.right {
		float:none;
		text-align: center;
	}
	
	.imgBox.right > div {
		display: inline-block;
	}
}

.bmc-button img{
	width: 27px !important;
	margin-bottom: 1px !important;
	box-shadow: none !important;
	border: none !important;
	vertical-align: middle !important;
}

.bmc-button{
	line-height: 36px !important;
	height:37px !important;
	text-decoration: none !important;
	display:inline-flex !important;
	color:#000000 !important;
	background-color:#FFDD00 !important;
	border-radius: 3px !important;
	border: 1px solid transparent !important;
	padding: 0px 9px !important;
	font-size: 17px !important;
	letter-spacing:-0.08px !important;
	box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
	-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	margin: 0 auto !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-o-transition: 0.3s all linear !important;
	-webkit-transition: 0.3s all linear !important;
	-moz-transition: 0.3s all linear !important;
	-ms-transition: 0.3s all linear !important;
	transition: 0.3s all linear !important;
}
	
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
	-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	text-decoration: none !important;
	box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	opacity: 0.85 !important;
	color:#000000 !important;
}

@media (max-height: 700px) {
	.bmc-button{
		line-height: 22px !important;
		height:25px !important;
		padding: 0 4px 0 0 !important;
	}
}

nav#sidebar > div.highlightable {
	display: flex;
	width: 100%;
	flex-direction: column;
}

nav#sidebar > div.highlightable > ul.topics {
	flex: 0 0 auto;
}

nav#sidebar > div.highlightable > section#shortcuts {
	flex: 0 0 auto;
}

nav#sidebar > div.highlightable > section#footer {
	flex: 0 0 auto;
}

div#menuspacer {
	flex: 1 0 auto;
}

nav#sidebar {
	display: flex;
	flex-direction: column;
}

div#header-wrapper {
	flex: 0 0 auto;
}

nav#sidebar > div.highlightable {
	flex: 1 0 auto;
}

@supports (-ms-ime-align: auto) {
	nav#sidebar,
	section#body {
		transition: none;
	}
}

code {
	white-space: normal;
}